body{
			background-image:url('test2.jpg');
			background-position:center;
			background-size:cover ;
			height:100%;
			background-repeat:no-repeat;
        }
tr:nth-child(odd){background-color:lightcyan;}
tr:nth-child(even){background-color:lightyellow;}
table{
    color: black;
}
p{
    color: lightcyan;
}
h1{
	color:white;
}